@mixin transform($transforms) {
    -webkit-transform: $transforms;
       -moz-transform: $transforms;
        -ms-transform: $transforms;
         -o-transform: $transforms;
            transform: $transforms;
}

@mixin transition($transitions...) {
    -webkit-transition: $transitions;
       -moz-transition: $transitions;
        -ms-transition: $transitions;
         -o-transition: $transitions;
            transition: $transitions;
}

@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    
    &:after {
        clear: both;
    }
}

@mixin box-sizing($box-model) {
    -webkit-box-sizing: $box-model;
       -moz-box-sizing: $box-model;
            box-sizing: $box-model;
}
