// Fonts
$font-color: #5f6b7b;
$font-family: 'Lato', sans-serif;

// Colors
$background-color: #f5f5f5;
$primary-color: #0061a1;
$primary-color-light: #0088cc;
$secondary-color: #f4a100;
$secondary-color-light: #ffc247;

// Sizes
$col-menu-width: 300px;
