<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title>Login error</title>
</head>
<body>
<div layout:fragment="content">
    <div class="alert alert-danger" role="alert">
        <h4>Error</h4>
        <p>
            Incorrect login/password.
            <br><br>
            <a th:href="@{/user/login}">Go back to the login form</a>
        </p>
    </div>
</div>
</body>
</html>