<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title>Login success</title>
</head>
<body>
<div layout:fragment="content">
    <div class="alert alert-success" role="alert">
        <h4>Login success</h4>
        <p>
            Welcome <span th:text="${user.firstName}"></span>, you've been logged in with success.
            <br><br>
            <a th:href="@{/}">Go back to the home page</a>
        </p>
    </div>
</div>
</body>
</html>