<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/layout}"
      th:with="currentApp='disponibility'">
<body>
<div layout:fragment="action-buttons">
    <a th:href="@{/disponibility/create}" class="btn btn-default">
        <i class="glyphicon glyphicon-plus"></i>
        <span th:text="#{i18n.disponibility.create}" th:remove="tag">Give your available time</span>
    </a>
</div>
<div layout:fragment="content">

    <div class="app-head">
        <fieldset>
            <legend> Vos Disponibilités</legend>
            <table class="table table-striped table-hover table-responsive">
                <thead>
                <tr>
                    <th th:text="#{i18n.disponibility.lundi}">Lundi</th>
                    <th th:text="#{i18n.disponibility.mardi}">Mardi</th>
                    <th th:text="#{i18n.disponibility.mercredi}">Mercredi</th>
                    <th th:text="#{i18n.disponibility.jeudi}">Jeudi</th>
                    <th th:text="#{i18n.disponibility.vendredi}">Vendredi</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="disponibility : ${disponibilities}">
                        <td th:text="${disponibility.lundi}"></td>
                        <td th:text="${disponibility.mardi}"></td>
                        <td th:text="${disponibility.mercredi}"></td>
                        <td th:text="${disponibility.jeudi}"></td>
                        <td th:text="${disponibility.vendredi}"></td>
                </tbody>
            </table>
        </fieldset>
    </div>
</div>
</body>
</html>