<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      th:with="currentApp='disponibility'">
<body>
<div layout:fragment="content">
    <div class="app-disponibility app-disponibility-delete">
        <div class="app-head">
            <ol class="app-breadcrumb breadcrumb">
                <li><a th:href="@{/admin}" th:text="#{i18n.apps.disponibility}">Disponibility</a></li>
                <li class="active" th:text="#{i18n.disponibility.delete}">Delete your disponibility</li>
            </ol>

            <h1 class="app-title" th:text="#{i18n.disponibility.delete}">Delete your disponibility</h1>
        </div>

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" th:text="#{i18n.disponibility.delete}">Delete disponibility</h4>
                </div>
                <div class="modal-body">
                    <p th:text="#{i18n.disponibility.delete.confirm}">Are you sure you want to delete your disponibility for this week ?</p>
                </div>
                <div class="modal-footer">
                    <a th:href="@{/disponibility}" class="btn btn-default" th:text="#{i18n.miscs.cancel}">Cancel</a>
                    <a th:href="@{/disponibility/delete(id=${disponibility.id}, confirm=true)}" class="btn btn-success" th:text="#{i18n.miscs.confirm}">Confirm</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>