<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      th:with="currentApp='disponibility'">
<body>
<div layout:fragment="action-buttons">
    <a th:href="@{/disponibility}" class="btn btn-default">
        <i class="glyphicon glyphicon-remove"></i>
        <span th:text="#{i18n.miscs.cancel}">Cancel</span>
    </a>

    <a class="btn btn-default" data-submit="edit-disponibility-form">
        <i class="glyphicon glyphicon-floppy-disk"></i>
        <span th:text="#{i18n.miscs.save}">Save</span>
    </a>
</div>
<div layout:fragment="content">
        <div class="app-head">
            <ol class="app-breadcrumb breadcrumb">
                <li><a th:href="@{/disponibility}" th:text="#{i18n.apps.disponibility}">Disponibility</a></li>
                <li class="active" th:text="#{i18n.disponibility.create}">Give your disponibilities</li>
            </ol>

            <h1 class="app-title" th:text="#{i18n.disponibility.create}">Give your disponibilities</h1>
        </div>

        <form id="edit-disponibility-form" th:action="@{/disponibility/edit(id=${disponibility.id})}"  method="post" class="form form-horizontal">
            <div class="panel panel-default">
                <div class="panel-body">
                    <fieldset>
                        <legend>Disponibilités</legend>

                        <div class="form-group">
                            <label for="week" class="col-sm-2 control-label"><span class="required">*</span> Semaine</label>
                            <div class="col-sm-10">
                                <input id="week" name="week" type="text" class="form-control" th:value="${disponibility.week}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="monday" class="col-sm-2 control-label"><span class="required">*</span> Lundi</label>
                            <div class="col-sm-10">
                                <input id="monday" name="monday" type="text" class="form-control" th:value="${disponibility.monday}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="tuesday" class="col-sm-2 control-label"><span class="required">*</span> Mardi</label>
                            <div class="col-sm-10">
                                <input id="tuesday" name="tuesday" type="text" class="form-control" th:value="${disponibility.tuesday}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="wednesday" class="col-sm-2 control-label"><span class="required">*</span> Mercredi</label>
                            <div class="col-sm-10">
                                <input id="wednesday" name="wednesday" type="text" class="form-control" th:value="${disponibility.wenesday}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="thursday" class="col-sm-2 control-label"><span class="required">*</span> Jeudi</label>
                            <div class="col-sm-10">
                                <input id="thursday" name="thursday" type="text" class="form-control" th:value="${disponibility.thursday}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="friday" class="col-sm-2 control-label"><span class="required">*</span> Vendredi </label>
                            <div class="col-sm-10">
                                <input id="friday" name="friday" type="text" class="form-control" th:value="${disponibility.friday}">
                            </div>
                        </div>
                    </fieldset>

                </div>
            </div>
        </form>
</div>
</body>
</html>