<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title th:text="|#{i18n.title} #{i18n.errors.404}|">404 Not Found</title>
</head>
<body>
<div layout:fragment="content">
    <div class="alert alert-warning" role="alert">
        <h4 th:text="#{i18n.errors.404}">404 Not found</h4>
        <hr>
        <p>
            <span th:text="#{i18n.errors.404.sorry}" th:remove="tag">Sorry, but the page you're looking for doesn't exist.</span>
            <br><br>
            <a th:href="@{/}" th:text="#{i18n.miscs.back_home}">Go back to the home page</a>
        </p>
    </div>
</div>
</body>
</html>