<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      th:with="currentApp='team'">
<head>
    <title>Teams</title>
</head>
<body>
<div layout:fragment="action-buttons">
    <a th:href="@{/team/create}" class="btn btn-default">
        <i class="glyphicon glyphicon-plus"></i>
        Create a team
    </a>
</div>
<div layout:fragment="content">
    <div class="app-team app-team-index">
        <div th:if="${param.deleted}"  class="alert alert-info" role="alert">
            <h4>Team deleted</h4>
            <p>The team has been deleted with success.</p>
        </div>

        <div th:if="${param.created}"  class="alert alert-success" role="alert">
            <h4>Team created</h4>
            <p>The team has been created with success.</p>
        </div>

        <div th:if="${param.registered}"  class="alert alert-success" role="alert">
            <h4>Registered to the team</h4>
            <p>You've been registered to the team #<strong th:text="${param.team_id}"></strong> with success.</p>
        </div>

        <table class="table table-striped table-hover table-responsive">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name of the team</th>
                <th>Members</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="team : ${teams}">
                <td class="text-center" th:text="${team.id}"></td>
                <td th:text="${team.name}"></td>
                <td>
                    <ul>
                        <li th:each="member : ${team.members}"><span th:text="${member.firstName + ' ' + member.lastName}"></span></li>
                    </ul>
                </td>
                <td>
                    <div class="btn-group">
                        <a th:if="${team.members.size()} < ${team.size}" th:href="@{/team/register(id=${team.id})}" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-plus"></i> Register to the team</a>
                        <a th:href="@{/team/detail(id=${team.id})}" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-eye-open"></i> Details</a>
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li>
                                <a th:href="@{/team/delete(id=${team.id})}"><i class="glyphicon glyphicon-trash"></i> Delete</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
