<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/layout}">
<head>
  <title>Team Sloth</title>
</head>
<body>
  <div layout:fragment="content">
    <div class="app-user">
      <h1 class="text-center" th:text="${team.name}"></h1><i class="glyphicon glyphicon-edit"></i>
      <div>
        <h3>Membres</h3>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nom</th>
              <th>Prénom</th>
              <th>Code Elèves</th>
              <th>Mails</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="member : ${team.members}">
                <td><span th:text="${member.lastName}"></span></td>
                <td><span th:text="${member.firstName}"></span></td>
                <td><span th:text="${member.number}"></span></td>
                <td><span th:text="${member.mail}"></span></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <h3>Informations sur le sujet</h3>
        <table class="table table-striped">
          <tr>
            <td>Sujet : <span th:text="${team.subject}"></span></td>
            <td>Client :</td>
            <td>test@isep.fr</td>
          </tr>
          <tr>
            <td></td>
            <td>Temps restant : <span th:text="${team.timeLeft}"></span></td>
            <td>Mails restants : <span th:text="${team.mailsLeft}"></span></td>
          </tr>
        </table>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <h4>Livrables déposés</h4>
          <input type="button" value="Déposer un livrable"/>
        </div>
        <div class="col-xs-6">
          <h4>Compte-rendu déposés</h4>
          <input type="button" value="Déposer un compte-rendu"/>
        </div>
      </div>
      <div class="row">
        <div class=col-xs-12>
          <h4>Réunions</h4>
          <input type="button" value="Proposer une réunion"/>
        </div>
      </div>
    </div>
  </body>
  </html>
