<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/layout}"
      th:with="currentApp='team'">
<body>
<div layout:fragment="action-buttons">
  <a th:href="@{/team/edit(id=${team.id})}" class="btn btn-default">
    <i class="glyphicon glyphicon-edit"></i>
    Edit team
  </a>
</div>
  <div layout:fragment="content">
    <div class="app-user">

      <div th:if="${param.added}" class="alert alert-success" role="alert">
        <h4 th:text="#{i18n.teams.added}">User added</h4>
        <p th:text="#{i18n.teams.added.text}">The user has been added with success.</p>
      </div>

      <div th:if="${param.edited}" class="alert alert-info" role="alert">
        <h4 th:text="#{i18n.teams.edited}">Team edited</h4>
        <p th:text="#{i18n.teams.edited.text}">The team has been edited with success.</p>
      </div>

      <div th:if="${param.removed}" class="alert alert-info" role="alert">
        <h4 th:text="#{i18n.teams.removed}">User removed</h4>
        <p th:text="#{i18n.teams.removed.text}">The user has been removed with success.</p>
      </div>

      <h1 class="text-center" th:text="${team.name}"></h1>
      <div>
        <h3>Membres</h3>
        <a sec:authorize="hasRole('ROLE_TEACHER')" th:href="@{/team/add(id=${team.id})}" class="btn btn-success"><i class="glyphicon glyphicon-plus-sign"></i> <span th:text="#{i18n.teams.add}">Add</span></a>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nom</th>
              <th>Prénom</th>
              <th>Code Elèves</th>
              <th>Mails</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="member : ${team.members}">
                <td th:text="${member.lastName}"></td>
                <td th:text="${member.firstName}"></td>
                <td th:text="${member.number}"></td>
                <td th:text="${member.mail}"></td>
                <td>
                  <a sec:authorize="hasRole('ROLE_TEACHER')" th:href="@{/team/remove(id=${member.id})}" class="btn btn-danger"><i class="glyphicon glyphicon-remove-sign"></i> <span th:text="#{i18n.teams.remove}">Remove</span></a>
                </td>
            </tr>
            <tr th:if="${#lists.isEmpty(team.members)}">
              <td colspan="5" class="text-center">No member in this team.</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div th:unless="${team.subject} == null">
        <h3>Informations sur le sujet</h3>
        <table class="table table-striped">
          <tr>
            <td>Sujet : <span th:text="${team.subject.name}"></span></td>
            <td>Client :</td>
            <td>test@isep.fr</td>
          </tr>
          <tr>
            <td></td>
            <td>Temps restant : <span th:text="${team.timeLeft}"></span></td>
            <td>Mails restants : <span th:text="${team.mailsLeft}"></span></td>
          </tr>
        </table>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <h4>Livrables déposés</h4>
          <input type="button" value="Déposer un livrable" class="btn btn-default" />
        </div>
        <div class="col-xs-6">
          <h4>Compte-rendu déposés</h4>
          <input type="button" value="Déposer un compte-rendu" class="btn btn-default" />
        </div>
      </div>
      <div class="row">
        <div class=col-xs-12>
          <h4>Réunions</h4>
          <a th:href="@{/appointment/create(id=${team.id})}" class="btn btn-default">
            <i class="glyphicon glyphicon-edit"></i>
            Proposer une réunion
          </a>
        </div>
      </div>
    </div>
  </div>
  </body>
  </html>
