$breakpoints: (
  'xsmall': 480px,
  'small':  768px,
  'medium': 992px,
  'large':  1200px
);

@mixin responsive($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);

    @if $type == max {
      $width: $width - 1px;
    }

    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  } @else {
    @warn 'Mixin responsive: breakpoint "#{$width}" doesn\'t exist; choose one of: #{breakpoints}';
  }
}
