.app-admin.app-admin-index .shortcuts {
  margin: auto;

  @include breakpoint('medium', 'min') {
    width: 1000px;
  }

  .shortcut {
    width: 25%;
    font-size: 18px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;
    margin-right: -4px;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    background: linear-gradient(to top, $primary-color, $primary-color-light);

    @include breakpoint('medium', 'min') {
      width: 200px;
      font-size: 20px;
    }

    a {
      color: white;
      display: block;
    }

    i {
      font-size: 75px;
    }
  }
}