<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      th:with="currentApp='deposit'">
<body>

<div layout:fragment="action-buttons">
    <a class="btn btn-default" data-submit="create-deposit-form">
        <i class="glyphicon glyphicon-floppy-disk"></i>
        <span th:text="#{i18n.miscs.save}">Save</span>
    </a>
</div>
<div layout:fragment="content">
    <div class="app-deposit app-deposit-create">
        <div class="app-head">
            <ol class="app-breadcrumb breadcrumb">
                <li><a th:href="@{/deposit}" th:text="#{i18n.apps.deposit}">Deposit</a></li>
                <li class="active" th:text="#{i18n.deposit.create}">Create a deposit box</li>
            </ol>

            <h1 class="app-title" th:text="#{i18n.deposit.create}">Create a deposit box</h1>
        </div>

        <form id="create-deposit-form" th:action="@{/deposit/create}" method="post" class="form form-horizontal">
            <div class="panel panel-default">
                <div class="panel-body">
                    <fieldset>
                        <legend>Details</legend>
                        <table>
                            <div class="form-group">
                                <label for="name" class="col-sm-2 control-label"><span class="required">*</span> Nom : </label>
                                <div class="col-sm-10 col-lg-5">
                                    <input id="name" name="name" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="enddate" class="col-sm-2 control-label"><span class="required">*</span> Date de fin : </label>
                                <div class="col-sm-10 col-lg-5">
                                    <input id="enddate" name="enddate" type="text" class="form-control">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="objet" class="col-sm-2 control-label"><span class="required">*</span> Objet : </label>
                                <div class="col-sm-10">
                                    <input id="objet" name="objet" class="form-control" type="text"></input>
                                </div>
                            </div>
                        </table>
                    </fieldset>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>